/*/bin/
/*/obj/
/TempLoggerService.v11.suo
/packages
.vs
/TempLoggerService/Properties/PublishProfiles/*
/**/*.csproj.user
/**/*.pubxml.user

# Ignore this so that the password can be changed from the dummy value for testing without
# risking accidentally committing it.
/TempLoggerService.Api/appsettings.Development.json

# Ignore this as well because it'll have creds in it.
/TempLoggerService.Migrator/Properties/launchSettings.json
