[Unit]
Description=TempLogger Client
After=network.service

[Service]
Type=simple
ExecStartPre=/sbin/modprobe w1-gpio
ExecStartPre=/sbin/modprobe w1-therm
ExecStart=/usr/local/bin/mono /root/temploggerclient/TempLoggerService.Client.exe

[Install]
WantedBy=multi-user.target
