[Unit]
Description=TempLogger Client
After=network.service

[Service]
Type=simple
ExecStartPre=/sbin/modprobe w1-gpio
ExecStartPre=/sbin/modprobe w1-therm
ExecStart=/root/TempLoggerService.ClientCore/TempLoggerService.ClientCore

[Install]
WantedBy=multi-user.target
